@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-gray: var(--gray);
  --color-gray-light: var(--gray-light);
  --color-active: var(--active);
  --color-secondary: var(--secondary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-dark: var(--dark);
}

:root {
  --background: #ffffff;
  --gray-light: #cacaca;
  --gray: #818181;
  --primary: #125557;
  --secondary: #1a9395;
  --accent: #e2f397;
  --primary-light: #39f3bb;
  --active: #aaebca4d;
  --primary-dark: #125557;
  --dark: #303030;
  --muted: #f7f8fa;
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    flex-direction: column;
    width: 100%;
    left: 0;
    right: 0;
    background: #fff;
    transform: translateX(100%);
    top: 65px;
    padding: 20px 30px;
    font-size: 18px !important;
    font-weight: 500;
    transition: 0.5 step-end;
  }
}

.nav-show {
  transform: translateX(0%);
}

/* Add this to your global CSS file or a <style> tag */
input[type="checkbox"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--primary); /* Replace with your primary color */
  border-radius: 0.25rem;
  cursor: pointer;
  position: relative;
}

input[type="checkbox"]:checked {
  background-color: var(--primary); /* Replace with your primary color */
  border-color: var(--primary); /* Replace with your primary color */
}

input[type="checkbox"]:checked::after {
  content: "✔"; /* Unicode checkmark symbol */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  color: white; /* White tick icon */
}
