@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-gray: var(--gray);
  --color-gray-light: var(--gray-light);
  --color-active: var(--active);
  --color-secondary: var(--secondary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-dark: var(--dark);
}

:root {
  --background: #ffffff;
  --gray-light: #cacaca;
  --gray: #818181;
  --primary: #125557;
  --secondary: #1a9395;
  --accent: #e2f397;
  --primary-light: #39f3bb;
  --active: #aaebca4d;
  --primary-dark: #125557;
  --dark: #303030;
  --muted: #f7f8fa;
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
}
